<%= form_with(model: @role, local: true) do |form| %>
  <% if role.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

    <ul>
      <% role.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
  </div>
  <% end %>

      <div class="field">
            <%= form.label :movie_id %>
      <%= form.text_field :movie_id %>
          </div>

      <div class="field">
            <%= form.label :actor_id %>
      <%= form.number_field :actor_id %>
          </div>

      <div class="field">
            <%= form.label :character_name %>
      <%= form.text_field :character_name %>
          </div>

    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
