<%= form_with(model: @role, local: true) do |f| %>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <div class="form-group">
    <%= f.label :actor_id %>
    <%= f.text_field :actor_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :character_name %>
    <%= f.text_field :character_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role_type %>
    <%= select_tag(:role_type, options_for_select(Role.role_types.keys), class: "form-control") %>
  </div>


  <div class="form-group">
    <%= f.label :lead %>
    <%= f.check_box :, class: "form-check-input" %>
  </div>

  <%= f.submit "Create role", class: "btn btn-block btn-outline-secondary" %>
<% end %>
